body {
  font-family: sans-serif;
  background-color: white;
}

/* Make content area fill the entire browser window */
html1,
.fullscreen1 {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
}

.title {
  font-size: 3rem;
}

/* Eigen toevoegingen*/
.volledig {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow:auto;
}
.logobalk {
    height: 2em;
    background-color: black;
    color: white;
}

.maincontent {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 2em;
    background-color: yellow;
    margin: 0px;
}

.navigatiebalk {
    height: 3em;
    background-color: #0FF;
}

.content {
    top: 3em;
    bottom: 2em;
    background-color: white;
}

.voetbalk {
    height: 2em;
    top: auto;
    background-color: #960;
}
	

